.mob-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    z-index: 10;
    display: none;
    cursor: pointer;
  }
  .h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;

  }
  
  .mob-menu span {
    height: 0.4rem;
    width: 100%;
    background: #fff;
    border-radius: 0.2rem;
  }
  .fa-solid {
    font-size: 2.2rem;
  }
  
  .menu.open {
    display: flex;
  }
  
  @media (max-width: 650px) {
    .mob-menu {
      display: flex;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: start;
      margin-bottom: 0.25rem;
      padding: 10px 15px;
    }
  
    .menu.open {
      display: flex;
    }
  
    .active {
      padding: 8px;
      font-weight: 700;
      color: black;
    }
  
    .menu-item {
      width: 100%;
      text-align: center;
    }
  }
  